html{
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tieude1{
    width: 100%;
    color:brown;
}
.tieude2{
    width: 100%;
    color:brown;
}
.box1{
    color:chocolate;
    width: 100%;
}
.baoboc1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #22242a;
    border-radius: 24px;
    padding: 18px;
    margin: 12px;
    width: 100%;
}
.baoboctatca{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    max-width: 1200px;
}
.p{
    width: 100%;
    color:aliceblue
}
.link{
    color:blue
}